.counter {
    width: 350px;
    border-radius: 10px;
    border: 1px solid green;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}

.btn-box {
    display: flex;
    
    gap: 10px;
}